body {
    font-family: "Poppins", sans-serif;
}

.back-img {
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
    background-blend-mode: color;
    background-color: rgba(25, 6, 6, 0.456);
}

.donate-width {
    width: 100%;
    padding: 100px 20px 100px 20px;
    text-align: center;

}

.d-f-h1 {
    color: aliceblue;
    width: 100%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    text-align: center;

}

.d-f-p {
    color: rgb(246, 245, 245);
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    text-align: center;
    padding: 9px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.donate-area {
    text-align: center;

}

.d-a-h {
    font-size: 45px;

}

.d-a-p {
    font-weight: 400;
    font-size: 18px;
    color: rgb(5, 57, 57);
    padding-left: 25%;
    padding-right: 25%;
}

.donate-money {
    display: flex;
    margin-left: 10%;

}

.flexible-container {
    display: inline-flex;
    padding-left: 50px;
    padding-right: 60px;
    width: 70px;
    border: 0px solid rgba(171, 167, 167, 0.458);
    background-color: rgba(221, 206, 206, 0.458);
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 5px;
}

#box-color {
    border: 5px solid rgb(73, 7, 215);
    background-color: rgb(137, 205, 167);
}

.add-money {
    border: none;
    border-bottom: 4px solid red;
    font-size: 27px;
    color: gray;
    text-align: center;
    border-right-width: 100px;
    border-width: thin;
    border-width: 30%;
}

.add-amount {
    margin: 0;
    padding-left: 39%;
    padding-top: 20px;
    padding-bottom: 10px;
    color: darkgray;

}

.new-donate-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(219, 39, 39), rgb(192, 181, 25));
    text-align: center;
    padding: 9px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.half-width-new {
    width: 100%;
    padding: 0px 0px 80px 20px;
    text-align: center;
}

.flexible-container-new>div {
    display: flex;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 100px;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 10px;
    margin-top: 0;
    width: 80%;
}

.d-p-h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(17, 194, 94);
}

.d-p-p {
    font-weight: 400;
    font-size: 18px;
    color: rgb(16, 104, 104);
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.flexible-donate-plan {
    display: flex;
    padding-left: 20px;


}

.food-icon {

    background-image: url(icons/icon8.svg);
    background-position: right;
    background-repeat: no-repeat;
    font-size: 35px;
    background-size: 90px;
    margin-right: 40px;
}

.medical-icon {
    background-image: url(icons/medicine.svg);
    background-repeat: no-repeat;
    font-size: 35px;
    background-position: right;
    background-size: 90px;


}

.house-icon {
    background-image: url(icons/clothes.svg);
    background-repeat: no-repeat;
    font-size: 35px;
    background-position: right;
    background-size: 90px;
    margin-right: 20px;

}

.donate-plan-box {
    width: 40%;
    padding: 60px 50px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 10px 20px 25px gray;
}

#food-col {
    background-color: aquamarine;
}

#medi-col {
    background-color: bisque;
}

#house-col {
    background-color: lightgreen;
}

.half-width {
    margin-top: 150px;
    width: 50%;
    padding: 15px 15px 15px 15px;
}

.half-width img {
    width: 100%;
    border-radius: 15px;
}

.don-pln-h1 {
    text-align: center;
    font-size: 35px;
    color: chocolate;
    width: 70%;
    padding-left: 90px;
}

.don-pln-p {
    color: rgb(0, 0, 138);
}

.contribute-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 139, 7), rgb(103, 131, 4));
    text-align: center;
    padding: 9px 18px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;

}

.flexible-donate-plan2 {
    display: flex;
    padding-left: 20px;
    text-align: center;
}

.don-pln-h2 {
    text-align: center;
    font-size: 35px;
    color: rgb(1, 139, 203);
    width: 70%;
    padding-left: 90px;
}

.donn-pln-p2 {
    color: rgb(98, 105, 0);
    padding-left: 30px;
}

.box-body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: #ffffff;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    padding-top: 10px;
    padding-bottom: 90px;


}

.form-box {
    padding: 15px 20px;
    border-radius: 5px;
    background: #ebf396;
    box-shadow: 10px 10px 15px #807777 -10px -10px 15px #ecd3d3;
    padding: 70px 150px;
}

.form-box input {
    font-size: 20px;
    padding: 10px 50px;
    border: none;
    outline: none;
    background: #b7b2b2;
    border-radius: 5px;
}

.form-box button {
    color: #e6cece;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #4769d8;
    cursor: pointer;
    transition: .3s;
    margin-left: -3px;

}

footer p {
    background-color: rgb(31, 30, 30);
    text-align: center;
    font-family: "Playwrite IS", cursive;
    padding: 4%;

}

.fut {
    font-size: 45px;
    color: orange;
    padding-top: 8%;

}

.tut {
    color: #e6cece;
    font-size: 20px;

}